<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Où étudier pour contribuer à la transition carbone et avoir un impact sur le climat ?">

    <link rel="apple-touch-icon" sizes="180x180" href="./favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./favicons/favicon-16x16.png">
    <link rel="manifest" href="./favicons/site.webmanifest">
    <link rel="mask-icon" href="./favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="Education 4 Climate">
    <meta name="application-name" content="Education 4 Climate">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>Education 4 Climate</title>
</head>

<body>
    <div id="app" v-if="dataLoaded">

        <header>
            <nav class="navbar navbar-expand-xl navbar-light bg-light">
                <div class="container-fluid">
                    <a href="index.html"><img src="./img/icon-education4climate.svg" alt="logo" id="logo"></a>
                    <a class="navbar-brand text-primary" href="index.html"><strong>EDUCATION 4 CLIMATE</strong></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav me-auto mb-2 mb-md-0">
                            <li class="nav-item">
                                <a class="nav-link" href="programs.html">{{translate("menu.programs")}}</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="courses.html">{{translate("menu.courses")}}</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="teachers.html">{{translate("menu.teachers")}}</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav ml-auto mb-2 mb-md-0" id="languages-selector">
                            <li class="nav-item" v-for="language in availableLanguages">
                                <a class="nav-link" :class="currentLanguage == language ? 'active' : ''"
                                    @click="setLanguage(language)" href="#">{{language.toUpperCase()}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <main id="home">

            <div id="carousel-home" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" id="carousel-item-students">
                        <div class="carousel-caption">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-md-6">
                                        <h1>{{translate("home.headline-students")}}</h1>
                                        <p><a class="btn btn-primary learn-more"
                                                href="#home-intro">{{translate("home.learn-more")}}</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" id="carousel-item-teachers">
                        <div class="carousel-caption">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-md-6">
                                        <h1>{{translate("home.headline-teachers")}}
                                        </h1>
                                        <p><a class="btn btn-primary learn-more" href="#home-intro">En
                                                savoir plus</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carousel-home"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carousel-home"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

            <div class="container" id="home-intro">
                <div class="row text-center">
                    <div class="col-md-9">
                        <h2>Phrase d'intro qui parle de l'outil de <a href="programs.html">recherche des programmes</a>,
                            de celui de <a href="programs.html">recherche des cours</a> et aussi de <a
                                href="teachers.html">l'annuaire des
                                enseignants</a>
                        </h2>
                    </div>
                    <div class="col-md-3"><img style="width: 10rem;" src="./img/icon-education4climate.svg"
                            alt="Logo du projet"></div>
                </div>
                <hr>
            </div>

            <div class="container" id="home-project">
                <div class="row">
                    <h2>Valeurs du projet</h2>
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                        ut
                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                        culpa qui officia deserunt mollit anim id est laborum.</div>
                </div>
                <hr>
                <div class="row">
                    <h2>Méthodologie</h2>
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                        ut
                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                        culpa qui officia deserunt mollit anim id est laborum.</div>
                </div>
                <hr>
                <div class="row">
                    <h2>Les limites de l'exercice</h2>
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                        ut
                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                        culpa qui officia deserunt mollit anim id est laborum.</div>
                </div>
                <hr>
                <div class="row">
                    <h2>Les prochaines étapes</h2>
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                        ut
                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                        culpa qui officia deserunt mollit anim id est laborum.</div>
                </div>
            </div>

        </main>


        <div id="preload-background-images">
            <img src="./img/background-students.jpg" width="1" height="1" />
            <img src="./img/background-teachers.jpg" width="1" height="1" />
        </div>

    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script type="module" src="js/home.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
</body>

</html>