:root {
    
    /* Please see here for references and updates : 
       https://initiatives.theshifters.org/boite-a-outils/
    */

	/* identity colors */
	
	--night-blue: #00004B;
	--egyptian-blue: #0023AA;
    --pale-teal: #4BD2AF;
	--greenish-blue: #00788C;
	
	/* contrast colors */
	
	--chambray: #2D4182;
	--faded-pink: #F091B9;
	--tulip-pink: #DC4B78;
	--seashell: #F5F0F0;
	
	/* neutral colors */
	
	--baltic-sea: #282828;
	--white: #FFFFFF;

    /* Light theme */
  
    --accent-color: var(--pale-teal);

    --background-primary-color: var(--seashell);
    --background-secondary-color: var(--white);

    --font-color: var(--baltic-sea);
    --header-color: var(--egyptian-blue);
    --link-color: var(--egyptian-blue);

    --checkbox-background-color: var(--egyptian-blue);
    --checkbox-border-color: var(--egyptian-blue);

    --badge-primary-color: var(--chambray);
    --badge-secondary-color: var(--tulip-pink);
    --badge-accent-color: var(--pale-teal);

    --footer-background-color: var(--night-blue);
    --footer-link-color: var(--white);

    --button-color: var(--greenish-blue);
}

[data-theme="dark"] {

    /* Dark theme */

    --background-primary-color: var(--egyptian-blue);
    --background-secondary-color: var(--night-blue);

    --font-color: var(--seashell);
    --header-color: var(--seashell);

    --checkbox-background-color: var(--egyptian-blue);
    --checkbox-border-color: var(--seashell);
}

.accent {
    color: var(--accent-color);
}

/* Theme toggler */

[data-theme="dark"] #theme-toggler .theme-light {
    display: none;
}

[data-theme="light"] #theme-toggler .theme-dark {
    display: none;
}

#theme-toggler {
    display: flex;
    justify-content: flex-end;
}

#theme-toggler:hover {
    cursor:pointer;
}

/* Navbar */

nav {
 font-weight: 700;   
}

.navbar-brand {
    color: var(--egyptian-blue) !important;
}

/* Badges */

.bg-primary {
    background-color: var(--badge-primary-color) !important;
}

.bg-secondary {
    background-color: var(--badge-secondary-color) !important;
}

.bg-success {
    background-color: var(--badge-accent-color) !important;
}

/* Fonts */

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--font-color);
    font-size: 1rem;
}

.text-primary {
    color: var(--font-color) !important;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--header-color) !important;
}

a {
    color: var(--link-color);
}

/* Badges */

.badge-primary {
    background-color: var(--chambray) !important;
    color: var(--seashell) !important;
}

.badge-secondary {
    background-color: var(--tulip-pink) !important;
    color: var(--seashell) !important;
}

.accordion-button {
    background-color: var(--background-secondary-color);
}

.accordion-button:not(.collapsed) {
	background-color: white;
}

.accordion-button:focus {
	
	box-shadow: 0 0 0 0.25rem var(--chambray);
}

/* Checkboxes */

.form-check-input:checked {
    background-color: var(--checkbox-background-color);
    border-color: var(--checkbox-border-color);
}

.check-all {
    margin-right: .5rem;
    margin-top: 1rem;
}

.sub-check {
    margin-left: 1rem;
}

/* Buttons */

button.btn-primary {

        color: white;
        background-color: var(--button-color);
        border-color: var(--button-color);
        border-radius: 2rem;

}

/* MENU & NAVIGATION */

nav,
main {
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
}

/* Footer */

footer {
    background-color: var(--footer-background-color);
}

footer a {
    color: var(--footer-link-color);
}

footer a:hover {
    color: var(--accent-color);
}

footer .logo {
    height: 3rem;
}


/********************/

a {
    text-decoration: none;
}

[v-cloak] {
    /* hide un-compiled mustache bindings until Vue is loaded */
    display: none !important;
}

body.modal-open {
    /* fixbug Bootstrap qui ajoute un padding à droite du body quand on ouvre une modale */
    padding-right: 0 !important;
}


body {
    /* force scrollbar on courses/programs/teachers to avoid reflow on infrequent results pages with too few results */
    overflow-y: scroll !important;
}

/* MENU & NAVIGATION */

#logo {
    height: 1.7rem;
    margin-right: 0.5rem;
    margin-left: 0.3rem;
}

#preload-background-images {
    /* Permet de précharger les 2 images du slideshow pour ne pas avoir un effet de flicker au chargement */
    display: none;
}

/* HOME */

.home h1 {

    font-weight: 600;
    font-size: 4rem;
}

.home .paragraph div {

    margin: 2rem;

}

.peeps img {
    height: 40vh;
    margin-right: -12vh;
}

#carousel-item-students,
#carousel-item-teachers {
    background-size: cover;
    background-position: center;
    padding: 16rem 0;
}

#carousel-home .carousel-caption h1 {
    font-weight: bold;
}

#carousel-item-students {
    /* Original free picture by Nathan Dumlao under Unsplash Licence : https://unsplash.com/photos/ewGMqs2tmJI */
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(../img/background-students.jpg);
}

#carousel-item-teachers {
    /* Original free picture by ThisisEngineering RAEng under Unsplash Licence : https://unsplash.com/photos/mF6gB6hV5OU */
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(../img/background-teachers.jpg);
}

#home-intro {
    max-width: 60rem;
    padding: 2rem 2rem 0 2rem;
}

#home-intro a {
    margin: 1rem 0 0rem 0;
}

#home-project {
    padding: 2rem;
    max-width: 60rem;
}

#home-project p {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

#home-project h3 {
    font-size: 1.2rem;
}

#home-intro h2 {
    font-weight: bold;
}

#carousel-home .learn-more {
    display: none;
}

a.btn:empty {
    /* avoid showing empty buttons while loading translations */
    display: none !important;
}

/* TROUVER UN COURS/PROGRAMME */

#courses-finder h6,
#programs-finder h6 {
    font-weight: 600;
}

#programs-loader,
#courses-loader {
    min-height: calc(100vh - 56px);
}

#programs-loader h4,
#courses-loader h4 {
    margin-top: 1rem;
}

#languages-selector {
    flex-direction: row;
    justify-content: flex-end;
}

#languages-selector a,
#menu a,
#theme-toggler {
    color: var(--header-color);
}

#languages-selector a.active,
#menu a.active {
    color: var(--accent-color);
}

.accordion-body {
    background-color: #fdfefe;
}

.accordion-item .accordion-collapse {
    border-right: 1px solid #d5dbdb;
    border-left: 1px solid #d5dbdb;
}

.button-courses-list {
    margin-top: 1rem;
}

.themes-badges .badge.bg-primary {
    margin-right: 0.8rem;
}

/* Teachers directory */

#alphabet {
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}

#alphabet .letter {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

#alphabet .letter.active {
    background-color: #157347;
}

/* SIDEBAR */

.sidebar {
    background-color: var(--background-primary-color);
    min-height: calc(100vh - 56px);
}

.results {
    background-color: var(--background-primary-color);
}

.sidebar h6.title {
    margin-top: 1rem;
}

.sidebar h6.title.first {
    margin-top: 1rem;
}

.filter .count {
    margin-left: 1rem;
    font-weight: 700;
    font-size: 14px;
}

.filter .form-check {
    width: 100%;
}

main {
    padding-bottom: 3rem;
}

/* FOOTER */

footer {
    box-shadow: 0 50vh 0 50vh #f8f9fa;
}

footer li {
    list-style: none;
    display: inline;
    margin-right: 2rem;
}

.sidebar-footer {
    padding-top: 4rem;
    text-align: right;
}

.sidebar-footer li {
    list-style: none;
}

.navbar-footer {
    display: none;
}

#load-more {
    display: none;
    padding: 1rem;
}

#load-more.show {
    display: block;
}

/* COOKIES */

#cookieBar {
    width: 95%;
}

#toggleAnalyticsCookies,
#toggleLocalStorageCookies {
    float: right;
}

#cookieBar .buttons {
    text-align: right;
}

/* BETA BANNER */

.beta-banner {
    background-color: #dc3545;
    padding: 0.5rem;
    text-align: center;
    color: white;
}

.beta-banner a {
    color: white;
    text-decoration: underline;
}

.beta {
    color: #6c757d;
    font-size: 0.8rem;
}

/* RESPONSIVE */

.show-filters {
    display: none;
}

@media (max-width: 1199.98px) {
    /* HOME */

    #home-logos .logo {
        margin-bottom: 3rem;
    }

    /* MENU & NAVIGATION */

    #courses-finder .sidebar,
    #programs-finder .sidebar {
        padding-top: 1rem;
        min-height: 0;
    }

    h6.results-count {
        text-align: center;
    }

    .show-filters {
        display: block;
    }

    .show-filters-container {
        background-color: #f8f9fa;
    }

    #carousel-item-students,
    #carousel-item-teachers {
        /*.carousel-caption */
        height: calc(100vh - 56px);
    }

    .carousel-caption {
        height: calc(100vh - 56px);
        align-items: center !important;
        display: flex;
    }

    .bg-theme {
        margin-bottom: 0.3rem;
    }

    .accordion-button {
        padding-left: 0.2rem;
        padding-right: 0.2rem;
    }

    #carousel-home .learn-more {
        margin-top: 2rem;
        display: inline-block;
    }

    #languages-selector .nav-item {
        margin-right: 1rem;
    }

    .sidebar {
        padding-bottom: 1rem;
    }

    /* Teachers directory */

    #alphabet {
        text-align: center;
        margin-left: 0;
    }

    #alphabet button {
        padding: 0.25rem 0.5rem;
        font-size: 0.875rem;
        border-radius: 0.2rem;
    }

    /* Footer */

    footer {
        text-align: center;
    }

    footer div.right {
        margin-top: 1rem;
    }

    footer li {
        display: block;
        padding-top: 0.5rem;
    }

    .sidebar-footer {
        display: none;
    }

    .navbar-footer {
        display: block;
        text-align: right;
        margin-right: 0.1rem;
    }

    .navbar-footer li {
        list-style: none;
        padding-top: 0.5rem;
    }

    footer div.right {
        margin-top: 0;
    }

    .navbar-brand {
        font-size: 1.2rem;
    }
}

@media (min-width: 1199.99px) {

    #theme-toggler::after {
        content: "\00a0|";
    }

    .carousel-caption {
        top: 60%;
        transform: translateY(-50%);
    }

    #courses-finder .sidebar,
    #programs-finder .sidebar {
        display: block;
    }

    h6.results-count {
        padding-left: 20px;
    }

    /* Footer */

    footer div.right {
        text-align: right;
    }
}

@media (max-width: 375px) {
    #cookieBar .buttons {
        text-align: center;
    }

    #cookieBar .buttons button {
        margin-bottom: 0.5rem;
        font-size: 0.7rem;
    }

    .navbar-brand {
        font-size: 0.8rem;
    }
}
