:root {
    /* Please see here for references and updates : 
       https://initiatives.theshifters.org/boite-a-outils/
    */

    /* identity colors */

    --night-blue: #00004b;
    --egyptian-blue: #0023aa;
    --pale-teal: #4bd2af;
    --greenish-blue: #00788c;

    /* contrast colors */

    --chambray: #2d4182;
    --faded-pink: #f091b9;
    --tulip-pink: #dc4b78;
    --seashell: #f5f0f0;

    /* neutral colors */

    --baltic-sea: #282828;
    --white: #ffffff;

    /* Light theme */

    --accent-color: var(--pale-teal);

    --background-primary-color: var(--seashell);
    --background-secondary-color: var(--white);
    --background-tertiary-color: var(--greenish-blue);

    --font-color: var(--baltic-sea);
    --header-color: var(--egyptian-blue);
    --link-color: var(--egyptian-blue);

    --font-primary-color: var(--egyptian-blue);
    --font-secondary-color: var(--baltic-sea);
    --font-tertiary-color: var(--white);

    --checkbox-background-color: var(--egyptian-blue);
    --checkbox-border-color: var(--egyptian-blue);

    --badge-primary-color: var(--chambray);
    --badge-secondary-color: var(--tulip-pink);
    --badge-accent-color: var(--pale-teal);

    --footer-background-color: var(--night-blue);
    --footer-link-color: var(--white);

    --button-color: var(--greenish-blue);
    --button-hover-color: var(--pale-teal);

    --accordions-color: var(--white);

    --navbar-color: var(--white);
    --logo-color: var(--egyptian-blue);

    --hr-color: var(--egyptian-blue);
}

/* Dark theme */

[data-theme="dark"] {
    --background-primary-color: var(--night-blue);
    --background-secondary-color: var(--egyptian-blue);
    --background-tertiary-color: var(--baltic-sea);

    --font-color: var(--seashell);
    --header-color: var(--seashell);
    --link-color: var(--seashell);

    --font-primary-color: var(--white);
    --font-secondary-color: var(--seashell);
    --font-tertiary-color: var(--white);

    --checkbox-background-color: var(--greenish-blue);
    --checkbox-border-color: var(--greenish-blue);

    --badge-primary-color: var(--greenish-blue);
    --badge-secondary-color: var(--tulip-pink);

    --button-color: var(--pale-teal);
    --button-hover-color: var(--greenish-blue);

    --accordions-color: var(--night-blue);
    --accordions-border-color: var(--chambray);

    --navbar-color: var(--night-blue);
    --logo-color: var(--seashell);

    --hr-color: var(--chambray);
}

/* Fonts */

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--font-color);
    font-size: 1rem;
    background-color: var(--background-primary-color);

    /* force scrollbar on courses/programs/teachers to avoid reflow on infrequent results pages with too few results */
    overflow-y: scroll !important;
}

.text-primary {
    color: var(--font-color) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--header-color);
}

a {
    color: var(--link-color);
}

.accent {
    color: var(--accent-color);
}

hr {
    opacity: 1;
    color: var(--hr-color);
}

/* Icons */

.icon.target {
    content: url(/img/target-green.svg);
}

.icon.caret-down {
    content: url(/img/caret-down-blue.svg);
}

.icon.caret-up {
    content: url(/img/caret-up-blue.svg);
}

.icon.checked-box {
    content: url(/img/checked-box-green.svg);
}

/* Theme toggler */

[data-theme="dark"] #theme-toggler .theme-light {
    display: none;
}

[data-theme="light"] #theme-toggler .theme-dark {
    display: none;
}

#theme-toggler {
    display: flex;
    justify-content: flex-end;
}

#theme-toggler:hover {
    cursor: pointer;
}

#theme-toggler img {
    margin-right: 0.3rem;
}

/* MENU & NAVIGATION */

[data-theme="light"] nav {
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
}

nav {
    font-weight: 700;
    background-color: var(--navbar-color);
}

.navbar-brand {
    color: var(--logo-color) !important;
}

/* Badges */

.bg-primary {
    background-color: var(--badge-primary-color) !important;
}

.bg-secondary {
    background-color: var(--badge-secondary-color) !important;
}

.bg-success {
    background-color: var(--badge-accent-color) !important;
}

.badge-primary {
    background-color: var(--chambray) !important;
    color: var(--seashell) !important;
}

.badge-secondary {
    background-color: var(--tulip-pink) !important;
    color: var(--seashell) !important;
}

.sub-badge {
    background-color: var(--background-primary-color) !important;
    color: var(--font-primary-color) !important;
}

.accordion-button,
.accordion-button:not(.collapsed),
.accordion-item {
    background-color: var(--accordions-color);
}

.accordion-button:focus,
.accordion-button:not(.collapsed) {
    box-shadow: unset;
}

.accordion-item .accordion-collapse {
    border: 0 !important;
}

[data-theme="dark"] .accordion-button::after {
    filter: invert(1);
}

[data-theme="dark"] .accordion-item,
[data-theme="dark"] .accordion-flush .accordion-item:first-child {
    border: 2px solid var(--accordions-border-color);
}

/* Checkboxes */

.form-check-input:checked {
    background-color: var(--checkbox-background-color);
    border-color: var(--checkbox-border-color);
}

.check-all {
    margin-right: 0.5rem;
    margin-top: 1rem;
}

.sub-check {
    margin-left: 1rem;
}

/* Buttons */

button.btn-primary,
a.btn-primary,
button.btn-secondary,
a.btn-secondary {
    font-weight: 600;
    border-radius: 2rem;
}

button.btn-primary,
a.btn-primary {
    color: var(--background-primary-color);
    background-color: var(--button-color);
    border-color: var(--button-color);
}

button.btn-primary:hover,
a.btn-primary:hover {
    background-color: var(--button-hover-color);
    border-color: var(--button-hover-color);
}

button.btn-secondary,
a.btn-secondary {
    color: var(--button-color);
    background-color: unset;
    border-color: var(--button-color);
    border: 2px solid var(--button-color);
}

button.btn-secondary:hover,
a.btn-secondary:hover {
    color: var(--button-hover-color);
    background-color: unset;
    border-color: var(--button-hover-color);
}

/* Footer */

footer {
    background-color: var(--footer-background-color);
}

footer a {
    color: var(--footer-link-color);
}

footer a:hover {
    color: var(--accent-color);
}

footer .logo {
    height: 3rem;
}

footer .container .row {
    padding-left: 2rem;
    padding-right: 2rem;
}

footer a,
.sidebar-footer a,
.navbar-footer a {
    text-decoration: none;
}

[v-cloak] {
    /* hide un-compiled mustache bindings until Vue is loaded */
    display: none !important;
}

body.modal-open {
    /* fixbug Bootstrap qui ajoute un padding à droite du body quand on ouvre une modale */
    padding-right: 0 !important;
}

/* MENU & NAVIGATION */

#logo {
    height: 1.7rem;
    margin-right: 0.5rem;
    margin-left: 0.3rem;
}

/* HOME */

.home .container {
    max-width: 100%;
}

.home section.primary.text a {
    color: var(--font-primary-color);
}

.home section.secondary a {
    color: var(--font-secondary-color);
}

.home section.tertiary a {
    color: var(--font-tertiary-color);
}

.home h1,
.legal h1 {
    font-weight: 600;
    font-size: 4rem;
}

.home section {
    display: flex;
    min-height: 40vh;
}

.home section .text.order-xl-first {
    padding-right: 10rem;
}

.home section.primary,
.home section.primary :is(h1, h2, h3, h4, h5) {
    background-color: var(--background-primary-color);
    color: var(--font-primary-color);
}

.home section.secondary,
.home section.secondary :is(h1, h2, h3, h4, h5) {
    background-color: var(--background-secondary-color);
    color: var(--font-secondary-color);
}

.home section.tertiary,
.home section.tertiary :is(h1, h2, h3, h4, h5) {
    background-color: var(--background-tertiary-color);
    color: var(--font-tertiary-color);
}

.home .team-pictures {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.home .team-pictures img {
    width: 8rem;
    border-radius: 8rem;
    margin-bottom: 1rem;
}

.home .team-pictures h2 {
    font-weight: 800;
    font-size: 1.1rem;
    white-space: nowrap;
}

.home .team-pictures h3 {
    font-weight: 400;
    font-size: 0.9rem;
}

.home .team-pictures div {
    margin: 1rem;
}

.home section.intro .row {
    padding: 5rem;
}

.home section .row {
    padding: 5rem;
    flex-basis: 100%;
}

.home section .row {
    align-items: center;
    justify-content: center;
    align-items: stretch;
    display: flex;
}

.home section .text {
    display: flex;
    font-size: 1.2rem;
    flex-direction: column;
    justify-content: center;
}

.home section .title {
    display: flex;
    align-items: center;
}

.home .intro .peeps {
    display: flex;
    white-space: nowrap;
    justify-content: center;
}

.home .intro .peeps img {
    width: 25vw;
    position: relative;
}

.home .intro .peeps img:nth-child(1) {
    margin-right: -15vw;
    z-index: 2;
}

.home .intro .peeps img:nth-child(2) {
    margin-right: -15vw;
    z-index: 1;
}

.home .intro .headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home .intro .headline .buttons-container {
    margin-top: 4rem;
}

.home .intro .headline .buttons-container div {
    margin-bottom: 1rem;
}

.search-results-intro {
    margin-left: 0.5rem;
    border-bottom: 1px solid var(--hr-color);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    margin-right: 0.5rem;
}

.search-results-intro h1 {
    font-weight: 600;
}

.search-results-intro h1,
.search-results-intro div {
    padding-left: 0;
}

#home-intro {
    max-width: 60rem;
    padding: 2rem 2rem 0 2rem;
}

#home-intro a {
    margin: 1rem 0 0rem 0;
}

#home-intro h2 {
    font-weight: bold;
}

a.btn:empty {
    /* avoid showing empty buttons while loading translations */
    display: none !important;
}

/* Find a course/programme */

#courses-finder h6,
#programs-finder h6 {
    font-weight: 600;
}

#programs-loader,
#courses-loader {
    min-height: calc(100vh - 56px);
}

#programs-loader h4,
#courses-loader h4 {
    margin-top: 1rem;
}

#languages-selector {
    flex-direction: row;
    justify-content: flex-end;
}

#languages-selector a,
#menu a,
#theme-toggler {
    color: var(--header-color);
}

#languages-selector a.active,
#menu a.active {
    color: var(--accent-color);
}

.accordion-item {
    margin-bottom: 0.3rem;
    border-radius: 0.3rem !important;
}

.accordion-button {
    border-radius: 0.3rem !important;
}

.accordion-item .accordion-collapse {
    border-right: 1px solid #d5dbdb;
    border-left: 1px solid #d5dbdb;
}

.button-courses-list {
    margin-top: 1rem;
}

.themes-badges .badge.bg-primary {
    margin-right: 0.8rem;
}

.courses-of,
.programs-of {
    text-align: left;
}

.download-results {
    text-align: right;
    margin-bottom: 1rem;
}

/* Teachers directory */

#alphabet {
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}

#alphabet .letter {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: var(--badge-primary-color);
    border-color: var(--badge-primary-color);
}

#alphabet .letter.active {
    background-color: var(--pale-teal);
    border-color: var(--pale-teal);
}

/* SIDEBAR */

.sidebar {
    background-color: var(--background-primary-color);
    min-height: calc(100vh - 56px);
}

.results {
    background-color: var(--background-primary-color);
}

.sidebar h6.title {
    margin-top: 1rem;
}

.sidebar h6.title.first {
    margin-top: 1rem;
}

.filter .count {
    margin-left: 1rem;
    font-weight: 700;
    font-size: 14px;
}

.filter .form-check {
    width: 100%;
}

.legal main {
    padding-bottom: 3rem;
}

/* FOOTER */

footer {
    box-shadow: 0 50vh 0 50vh #f8f9fa;
}

footer li {
    list-style: none;
    display: inline;
    margin-right: 2rem;
}

.sidebar-footer {
    padding-top: 4rem;
    text-align: right;
}

.sidebar-footer li {
    list-style: none;
}

.navbar-footer {
    display: none;
}

#load-more {
    display: none;
    padding: 1rem;
}

#load-more.show {
    display: block;
}

/* COOKIES */

#cookieBar {
    width: 95%;
    background-color: var(--background-secondary-color);
}

.modal-content {
    background-color: var(--background-primary-color);
}

#toggleAnalyticsCookies,
#toggleLocalStorageCookies {
    float: right;
}

#cookieBar .buttons {
    text-align: right;
}

.show-filters {
    display: none;
}

/* RESPONSIVE */

@media (max-width: 1199.98px) {
    /* MENU & NAVIGATION */

    #courses-finder .sidebar,
    #programs-finder .sidebar {
        padding-top: 1rem;
        min-height: 0;
    }

    .show-filters {
        display: block;
        margin-top: 1rem;
        margin-bottom: 0.3rem;
    }

    .bg-theme {
        margin-bottom: 0.3rem;
    }

    .accordion-button {
        padding-left: 0.2rem;
        padding-right: 0.2rem;
    }

    #languages-selector .nav-item {
        margin-right: 1rem;
    }

    .sidebar {
        padding-bottom: 1rem;
    }

    /* Teachers directory */

    #alphabet {
        text-align: center;
        margin-left: 0;
    }

    #alphabet button {
        padding: 0.25rem 0.5rem;
        font-size: 0.875rem;
        border-radius: 0.2rem;
    }

    /* Footer */

    footer {
        text-align: center;
    }

    footer div.right {
        margin-top: 1rem;
    }

    footer li {
        display: block;
        padding-top: 0.5rem;
    }

    .sidebar-footer {
        display: none;
    }

    .navbar-footer {
        display: block;
        text-align: right;
        margin-right: 0.1rem;
    }

    .navbar-footer li {
        list-style: none;
        padding-top: 0.5rem;
    }

    footer div.right {
        margin-top: 0;
    }

    .navbar-brand {
        font-size: 1.2rem;
    }

    .home section.intro .row,
    .home section .row {
        padding: 0;
    }

    .home section .title {
        justify-content: center;
    }

    .home section .text.order-xl-first {
        padding-right: 0;
    }

    .home .intro {
        text-align: center;
    }

    .home section h1 {
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 2rem;
        font-size: 3rem;
    }

    .home section {
        min-height: auto;
        padding: 2rem;
        justify-content: center;
    }

    .home section .text {
        font-size: 1rem;
    }

    .home section .text,
    .home section .title {
        padding: 0;
    }

    .home section div.text {
        text-align: justify;
    }

    .home section div.text div {
        margin-bottom: 1rem;
    }

    .team-pictures img {
        margin-top: 1rem;
    }

    .accordion-header {
        padding-right: 0.8rem;
        padding-left: 0.8rem;
    }

    .search-results-intro {
        margin-left: 0;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        margin-right: 0;
    }

    /* Find a course/programme */

    .courses-of,
    .programs-of,
    .download-results {
        text-align: center;
    }
}

@media (min-width: 1199.99px) {
    #theme-toggler::after {
        content: "\00a0|";
    }

    #courses-finder .sidebar,
    #programs-finder .sidebar {
        display: block;
    }

    /* Footer */

    footer div.right {
        text-align: right;
    }
}

@media (max-width: 375px) {
    #cookieBar .buttons {
        text-align: center;
    }

    #cookieBar .buttons button {
        margin-bottom: 0.5rem;
        font-size: 0.7rem;
    }

    .navbar-brand {
        font-size: 0.8rem;
    }
}

/* MODALS */

[data-theme="dark"] .modal-content .btn-close {
    filter: invert(1);
}

/* Collapsible filters */

.programs .sidebar, .courses .sidebar, .teachers .sidebar {
    padding-left: .5rem;
    padding-right: .5rem;
}

.filter-group {
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-bottom: 1px solid #0023aa;
}

.filter-group h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0;
}

.filter-group-header:hover h3 {
    color: var(--accent-color);
}

.filter-group-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-group-header:hover {
    cursor: pointer;
}

.filter-group-header img {
    content: url(/img/caret-up-blue.svg);   
}

.filter-group-header.collapsed img {
    content: url(/img/caret-down-blue.svg);
}

#nameFilterCollapse > .filter, #programCodeFilterCollapse > .filter, #courseNameFilterCollapse > .filter {
    padding-top: .8rem;
}

.filter-group-header:hover img {
    content: url(/img/caret-up-green.svg);  
}

.filter-group-header.collapsed:hover img {
    content: url(/img/caret-down-green.svg);  
}
