a {
    text-decoration: none;
}

[v-cloak] {
    /* hide un-compiled mustache bindings until Vue is loaded */
    display: none !important;
}

body.modal-open {

    /* fixbug Bootstrap qui ajoute un padding à droite du body quand on ouvre une modale */
    padding-right: 0 !important;
}

.bg-secondary {
    background-color: #f8f9fa !important;
}

body.courses, body.programs, body.teachers {
    
    /* force scrollbar on courses/programs/teachers to avoid reflow on infrequent results pages with too few results */
    overflow: scroll;
}

/* MENU & NAVIGATION */

#logo {
    height      : 1.7rem;
    margin-right: .5rem;
    margin-left : .3rem;
}

#preload-background-images {

    /* Permet de précharger les 2 images du slideshow pour ne pas avoir un effet de flicker au chargement */
    display: none;
}

/* HOME */

#carousel-item-students,
#carousel-item-teachers {
    background-size    : cover;
    background-position: center;
    padding            : 16rem 0;
}

#carousel-home .carousel-caption h1 {
    font-weight: bold;
}

#carousel-item-students {

    /* Original free picture by Nathan Dumlao under Unsplash Licence : https://unsplash.com/photos/ewGMqs2tmJI */
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/background-students.jpg);
}

#carousel-item-teachers {

    /* Original free picture by ThisisEngineering RAEng under Unsplash Licence : https://unsplash.com/photos/mF6gB6hV5OU */
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/background-teachers.jpg);
}

#home-intro {
    padding: 2rem 2rem 0 2rem;
}

#home-project {
    padding: 0 2rem;
}

#home-intro h2 {
    font-weight: bold;
}

#carousel-home .learn-more {
    display: none;
}

a.btn:empty {
    /* avoid showing empty buttons while loading translations */
    display: none !important;
}

/* TROUVER UN COURS/PROGRAMME */

#courses-finder h6,
#programs-finder h6 {
    font-weight: 600;
}

#programs-loader,
#courses-loader {
    min-height: calc(100vh - 56px);
}

#programs-loader h4,
#courses-loader h4 {
    margin-top: 1rem;
}

#languages-selector {
    flex-direction: row;
}

#languages-selector a.active,
#menu a.active {
    color      : #0d6efd;
    font-weight: 500;
}

.accordion-body {
    background-color: #FDFEFE;
}

.accordion-item .accordion-collapse {
    border-right: 1px solid #D5DBDB;
    border-left : 1px solid #D5DBDB;
}

.button-courses-list {
    margin-top: 1rem;
}

.themes-badges .badge.bg-primary {
    margin-right: 0.8rem;
}

/* Teachers directory */

#alphabet {
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}

#alphabet .letter {
    margin-right : 0.5rem;
    margin-bottom: 0.5rem;
}

#alphabet .letter.active {
    background-color: #157347;
}

/* SIDEBAR */

.sidebar {
    background-color: #f8f9fa;
    min-height      : calc(100vh - 56px);
}

.sidebar h6.title {
    color     : #0d6efd;
    margin-top: 1rem;
}

.sidebar h6.title.first {
    margin-top: 0;
}

.filter .count {
    margin-left: 1rem;
    font-weight: 700;
    font-size  : 14px;
}

.filter .form-check {
    width: 100%;
}

main {
    padding-bottom: 3rem;
}

/* FOOTER */

footer li {
    list-style: none;
    display: inline;
    margin-right: 2rem;
}

.sidebar-footer {
    padding-top: 4rem;
    text-align: right;
}
.sidebar-footer li {
    list-style: none;
}

.navbar-footer {
    display: none;
}

/* RESPONSIVE */

.show-filters {
    display: none;
}

@media (max-width: 1199.98px) {

    #courses-finder .sidebar,
    #programs-finder .sidebar {
        padding-top: 1rem;
        min-height : 0;
    }

    h6.results-count {
        text-align: center;
    }

    .show-filters {
        display: block;
    }

    .show-filters-container {
        background-color: #f8f9fa;
    }

    #carousel-item-students,
    #carousel-item-teachers {
        /*.carousel-caption */
        height: calc(100vh - 56px);
    }

    .carousel-caption {
        height     : calc(100vh - 56px);
        align-items: center !important;
        display    : flex;
    }

    .bg-theme {
        margin-bottom: 0.3rem;
    }

    .accordion-button {
        padding-left : 0.2rem;
        padding-right: 0.2rem;
    }

    #carousel-home .learn-more {
        margin-top: 2rem;
        display   : inline-block;
    }

    #languages-selector .nav-item {
        margin-right: 1rem
    }

    .sidebar {
        padding-bottom: 1rem;
    }

    /* Teachers directory */

    #alphabet {
        text-align: center;
        margin-left: 0;
    }

    /* Footer */

    footer {
        text-align: center;
    }

    footer div.right {
        margin-top: 1rem;
    }

    .sidebar-footer {
        display:none;
    }

    .navbar-footer {
        display: block;
        text-align: right;
        margin-right: 0.1rem;
    }

    .navbar-footer li {
        list-style: none;
    }
}

@media (min-width: 1199.99px) {

    #courses-finder .sidebar,
    #programs-finder .sidebar {
        display: block;
    }

    h6.results-count {
        padding-left: 20px;
    }

    /* Footer */

    footer div.right {
        text-align: right;
    }
}